.menu_item {
	display: flex;
	gap: 16px;
	align-items: center;
	cursor: pointer;
	.item_image {
		display: flex;
	}
	.item_name {
		font-size: 14px;
		font-weight: semi-bold;
		color: #1f2633;
	}
	.active{
		font-weight: bold;
		background-color: #f2f4f7;
		border-radius: 4px;
	}
}