.board_column {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 32px;

}

.board_column_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column_title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.column_name {
  font-size: 14px;
  font-weight: bold;
  color: #1f2633;
}

.column_count_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 8px;
  border-radius: 50%;
  background-color: #e5c975;
  color: #ca8a04;
}

.column_count_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 8px;
  border-radius: 50%;
  background-color: #ed8cbd;
  color: #db2777;
}

.column_count_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 8px;
  border-radius: 50%;
  background-color: #c18df1;
  color: #9333ea;
}

.column_count_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 8px;
  border-radius: 50%;
  background-color: #8deaaf;
  color: #16a34a;
}

.column_menu {
  display: flex;
}

.board_column_tasks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: darkgrey transparent;
  scrollbar-width: auto;
}
//
//.board_column_tasks::-webkit-scrollbar {
//  width: 20px;
//}
//
//.board_column_tasks::-webkit-scrollbar-track {
//  background-color: transparent;
//}
//
//.board_column_tasks::-webkit-scrollbar-thumb {
//  border-radius: 10px; /* измените значение радиуса границы, если нужно */
//  background-color: transparent; /* цвет полосы прокрутки */
//}
//
//.board_column_tasks::-webkit-scrollbar-button {
//  display: none;
//}


.add_task {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2f4f7;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 6px;
}